@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/5ee6fa75-6045-4a5b-8f7e-bb943d8782b6/Daily%20Bubble.ttf?v=173928786343502");
}

body {
  background-color: aliceblue;
  text-align: center;
  color: pink;
  margin: auto;
  font-family: water;
}

h1{
  font-size: 50px;
}

#myCanvas {
  background-image: url("https://cdn.glitch.global/5ee6fa75-6045-4a5b-8f7e-bb943d8782b6/fish.webp?v=1738942997198");
  background-size: 600px 400px;
  border-radius: 300px;
  border: 5px solid pink
}



